# Archivos privados y configuraciones locales de NetBeans (Crucial ignorar)
nbproject/private/
nbproject/navigator-state
*.nbattrs

# Carpetas donde Ant guarda la compilación (No se suben)
build/
dist/

# Archivos de error de la máquina virtual de Java
hs_err_pid*
replay_pid*

# Archivos temporales del sistema operativo
Thumbs.db
.DS_Store
